{%extends 'index.html'%}

{%load static%}

{% load crispy_forms_tags %}

{% block titlee %}
single product

{% endblock titlee %}



{% block description %}
{{setting.description}}

{% endblock description %}


{% block keyword %}

{% endblock keyword %}



{% block header %}
{% include "header.html" %}
{% endblock header %}


{% block another_content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{%url 'home'%}">Home</a></li>
                <li class="active">OrderInfo</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Wishlist Area Strat-->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                <h1 class="font-weight-bold">User Panel</h1>
                {% include 'user_panel.html' %}
            </div>

            <div class="col-sm-12 col-md-12 col-lg-9 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th class="cart-product-name">Username</th>
                                    <th class="li-product-price">Ordered Price</th>
                                    <th class="li-product-stock-status">Status</th>
                                    <th class="li-product-stock-status">Admin note</th>
                                    <th class="li-product-add-cart">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in orders %}
                                <tr>




                                    <td class="li-product-name"><a href="#">{{p.user.username}}</a></td>

                                    <td class="li-product-price"><span class="amount">${{p.total}}</span></td>

                                    <td class="li-product-stock-status"><span class="in-stock">{{p.status}}</span></td>
                                    <td class="li-product-price"><span class="amount">{{p.adminnote}}</span></td>
                                    <td class="li-product-add-cart"><a href="{%url 'user_oder_details' id=p.id%}">Details</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock another_content %}


{% block footer %}

{% include "footer.html" %}

{% endblock footer %}