{%extends 'index.html'%}
{%load static%}

  
       

    {% block Stylee %}
            
    {% endblock Stylee %}

    {% block titlee %}
        {{setting.title}}
                
     {% endblock titlee %}



     {% block description %}
     {{setting.description}}
            
        {% endblock description %}


        {% block keyword %}
            
        {% endblock keyword %}



            {% block header %}
                {% include "header.html" %}
            {% endblock header %}
            {% block sidebar %}
                
            {% endblock sidebar %}
            
            {% block slider %}
              {% include "slider.html" %}
            {%endblock%}
            <!-- Begin Body Wrapper -->
            <!-- Begin Slider With Banner Area -->
            {%block mainbody%}


                {% include "content.html" %}
            {% endblock %}
            <!-- Li's Trendding Products Area End Here -->
            <!-- Begin Footer Area -->
            {% block footer %}

            {% include "footer.html" %}
                
            {% endblock footer %}









