        <div class="aside">
            <ul class="list-links">
                <li><a href="">User Profile</a></li>
                <li><a href="{%url 'orderlist'%}">My Orders</a></li>
                <li><a href="{%url 'orderproduct'%}">My Order Product</a></li>
                <li><a href="">My Comments</a></li>
                <li><a href="">My Favorits</a></li>
                <li><a href="">My Products</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>