  
  {%extends 'index.html'%}

{%load static%}



    {% block titlee %}
       single product
                
     {% endblock titlee %}



     {% block description %}
     {{setting.description}}
            
        {% endblock description %}


        {% block keyword %}
            
        {% endblock keyword %}



            {% block header %}
                {% include "header.html" %}
            {% endblock header %}
   

             {% block another_content %}





  <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Login Register</li>
                        </ul>
                    </div>
                        <div>
    {%if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{message}}
    </div>
    {% endfor %} {% endif %}
</div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Login Content Area -->
            <div class="page-section mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                            <!-- Login Form s-->
                            <form action="{%url 'user_login'%}" method="POST" >
                                {% csrf_token %}
                                <div class="login-form">
                                    <h4 class="login-title">Login</h4>
                                    <div class="row">
                                         <div class="col-12 mb-20">
                                            <label>Username</label>
                                            <input class="mb-0" type="text" placeholder="Username" name="username">
                                        </div>
                                        <div class="col-12 mb-20">
                                            <label>Password</label>
                                            <input class="mb-0" type="password" placeholder="Password" name="password">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                                <input type="checkbox" id="remember_me">
                                                <label for="remember_me">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                            <a href="#"> Forgotten pasward?</a>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="register-button mt-0">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
               
                   
                    </div>
                </div>
            </div>
            <!-- Login Content Area End Here -->



             {% endblock another_content %}




                    {% block footer %}

            {% include "footer.html" %}
                
            {% endblock footer %}